[user]
  email = 903716+akrawchyk@users.noreply.github.com
  name = Andrew Krawchyk
  #signingkey = 8DDF3DD831B03FB6F0858FD921ED1067B9EFB8BA

[core]
	autocrlf = input
  whitespace = trailing-space,space-before-tab
  safecrlf = true
  trustctime = false
  pager = delta
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  # --color-moved support
  map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[help]
  autocorrect = 1

[include]
  path = .gitconfig.d/gitalias.txt

[alias]
  l = log --graph --oneline
  s = status -sb

[format]
  pretty = "%H %ci %ce %ae %d %s"

[apply]
  whitespace = fix

[push]
  default = current

[merge]
  log = true
  conflictstyle = diff3

[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P

[diff]
  colorMoved = default
  renames = copies
  tool = vimdiff

[color]
  ui = true

[color "diff"]
  whitespace = red reverse

[credential]
  #helper = osxkeychain

[commit]
  #gpgsign = true

[gpg]
  #program = gpg

[branch]
  autosetuprebase = always
