[user]
  email = 903716+akrawchyk@users.noreply.github.com
  name = Andrew Krawchyk
  #signingkey = D40B20EAD93911FF

[core]
  autocrlf = input
  whitespace = trailing-space,space-before-tab
  safecrlf = true
  trustctime = false
  excludesfile = ~/.gitignore_global
  pager = delta --theme='base16'

[interactive]
  diffFilter = delta --color-only

[help]
  autocorrect = 1

[include]
  path = .gitconfig.d/gitalias.txt

[alias]
  l = log --graph --oneline
  s = status -sb

[format]
  pretty = "%H %ci %ce %ae %d %s"

[apply]
  whitespace = fix

[push]
  default = current

[merge]
  log = true
  tool = fugitive

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\" -c \"wincmd =\"
  trustExitCode = false

[diff]
  renames = copies
  tool = vimdiff

[color]
  ui = true

[color "diff"]
  whitespace = red reverse

[credential]
  helper = osxkeychain

[commit]
  #gpgsign = true

[gpg]
  program = gpg2

[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
[branch]
	autosetuprebase = always
