[user]
	email = akrawchyk@gmail.com
	name = Andrew Krawchyk
[apply]
	whitespace = fix
[core]
	excludesfile = $HOME/.gitignore
	autocrlf = input
	whitespace = trailing-space,space-before-tab
	safecrlf = true
	trustctime = false
[push]
	default = simple
[diff]
	renames = copies
	tool = vimdiff
[help]
	autocorrect = 1
[merge]
	log = true
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\" -c \"wincmd =\"
	trustExitCode = false
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
