# Archives #
############
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# Eclipse #
###########
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# Mercurial #
#############
/.hg/*
*/.hg/*
.hgignore

# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# svn #
#######
.svn/

# vim #
#######
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.tern_project

# rbenv/rvm #
#############
.rvmrc
.ruby-version
.rbenv-version
.rbenv-vars

# pow #
#######
.powrc
.powenv

# rails #
#########
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/bin
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
