snippet us "user story (b)"
-
     type: Enhancement
     title: ${1:title}
     description: |
       IN ORDER TO ${2:receive benefit}
       AS A ${3:role}
       I WANT TO ${4:goal}

       $0
endsnippet
